/nbproject
/.idea
/*.iml
img/spaceship1_sptizr2.png

img/ruru_alien_spritesheet.png

img/ruru_alien_spritesheet.png

img/ruru_alien_spritesheet.png

img/ruru_alien.png

img/ruru_original.png

img/ruru.png

img/room/lab_room.psd
